.container-payment-history {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .sub-container-payment-history {
        width: 100%;
        max-width: 500px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        .logo {
            width: 30%;
            margin-bottom: 5px;
        }

        .nav-title {
            color: #4E4E4E;
            margin-top: 20px;
        }

        .nav-score {
            margin-top: 25px;
            width: 100%;
            text-align: right;

            .logout {
                right: 0;
                text-align: left;
                width: 25px;
                padding: 8px;
                border-radius: 12px;
                margin-right: 15px;
                transition: 0.15s all;
                box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
                cursor: pointer;
            }

            .logout:active {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        .section {
            margin: 0;
            margin-top: 20px;
            margin-right: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            .card-activity-history {
                width: 100%;
                max-width: 85%;
                padding: 15px;
                background-color: #fff;
                border-radius: 5px;
                display: flex;
                box-shadow: 1px solid #000;
                box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
                margin: 0;
                margin-top: 12px;
                transition: 0.15s all;
                justify-content: center;
                align-items: center;

                .card-info {
                    width: 80%;

                    p {
                        font-size: 14px;
                        color: #4E4E4E;
                    }
                }

                .card-image {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    margin-right: 15px;

                    img {
                        width: 80%;
                    }

                }
            }

            .card:active {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
                background-color: rgba(0, 0, 0, 0.05);
            }

            .card:last-child {
                margin-bottom: 20px;
            }
        }

        .div-modal-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 25px;

            p {
                margin: 0;
            }
        }

        .bts-modal {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;

            .bts-modal-cancel {
                background-color: #D0D0D0;
                color: #333333;
                font-weight: bold;
            }

            .bts-modal-confirm {
                background-color: #293747;
            }
        }
    }
}

@media only screen and (max-width: 630px) {
    .container-score-unit {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}