.sub-container-home {
    width: 100%;
    max-width: 420px;
    min-height: 100svh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;

    .logo {
        width: 150px;
        margin: 0px 0 8px;
    }

    .nav {
        width: 100%;
        margin-top: 15px;
        text-align: right;
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 1000;

        .logout {
            right: 0;
            text-align: left;
            width: 32px;
            padding: 12px;
            border-radius: 999px;
            margin-right: 15px;
            transition: 0.15s all;
            background-color: #ffffff;
            box-shadow: 0 6px 16px rgba(41, 55, 71, 0.25);
            cursor: pointer;
        }

        .logout:active {
            transform: scale(0.98);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
        // background-color: #1f2933;

        .card {
            width: 100%;

            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            cursor: pointer;
            transition: all 0.2s ease;

            &:active {
                transform: scale(0.97);
            }

            .info {
                flex: 1;

                h2 {
                margin: 0;
                font-size: 18px;
                padding-left: 16px;
                color: #1f2933;
                }

                p {
                margin-top: 4px;
                padding-left: 16px;
                max-width: 90%;
                font-size: 14px;
                color: #6b7280;
                }
            }

            .image {
                // margin-left: 12px;
                padding-right: 16px;

                img {
                width: 56px;
                }
            }
        }
    }

    // .card:active {
    //     transform: scale(0.98);
    //     /* Scaling button to 0.98 to its original size */
    //     box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    //     /* Lowering the shadow */
    //     background-color: rgba(0, 0, 0, 0.05);
    // }

    // .card::before {
    //     content: '';
    //     width: 4px;
    //     height: 100%;
    //     background-color: #c9a24d; // dourado do logo
    //     border-radius: 4px 0 0 4px;
    //     margin-right: 12px;
    // }
    
}