.container-events-details-user-register {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .sub-container-events-details-user-register {
        width: 100%;
        max-width: 500px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        margin-bottom: 30px;

        .logo {
            width: 20%;
            margin-bottom: 5px;
        }

        .nav-title {
            color: #4E4E4E;
            margin-bottom: 10px;
        }

        .sub-title {
            margin-top: 10px;
            color: #4E4E4E;
            margin-bottom: 10px;
        }

        .section {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
                transition: 0.2s ease;
                
                &.present {
                    border-left: 5px solid #25810E;
                }

                &.absent {
                    border-left: 5px solid #FF5A5A;
                }

                &:active {
                    transform: scale(0.98);
                }

                .image {
                    width: 45px;

                    img {
                        width: 35px;
                    }
                }

                .info {
                    flex: 1;
                    margin-left: 10px;
                    text-align: left;

                    h2 {
                        font-size: 15px;
                        margin: 0;
                        color: #4E4E4E;
                    }

                    .status {
                        font-size: 12px;
                        color: #888;
                    }
                }

                .btns {
                    display: flex;
                    gap: 1px;
                    justify-content: center;

                    .bt {
                        width: 45px;
                        height: 36px;
                        border-radius: 50%;
                        border: none;
                        padding: 0;
                        padding-top: 5px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                        opacity: 0.3;
                        transition: 0.2s;

                        &.active {
                            opacity: 1;
                        }

                        &.bt-no {
                            background: #FF5A5A;
                        }

                        &.bt-yes {
                            background: #25810E;
                        }

                        &:active {
                            transform: scale(0.9);
                        }

                        svg {
                            width: 25px;
                            height: 25px;
                            stroke: white;
                            stroke-width: 3.0;
                            fill: none;
                        }
                    }
                }
            }
        }
    }
}


// @media only screen and (max-width: 630px) {
//     .container-events-details-user-register {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }