    .sub-container-events {
        width: 400px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        margin-bottom: 30px;
        color: #4E4E4E;

        .logo {
            width: 20%;
            margin-bottom: 5px;
        }

        .title {
            display: flex;
            width: 95%;
            align-items: center;
            justify-content: center;
            font-size: 15px;

            .nav-title {
                color: #4E4E4E;
                margin-bottom: 10px;
            }

            img {
                right: 25px;
                position: absolute;
                width: 35px;
            }
        }

        .values {
            margin-top: 5px;
            width: 350px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .total {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
        }

        .bts {
            display: flex;
            width: 92%;
            align-items: center;
            justify-content: center;

            .bt {
                width: 100%;
                height: 28px;
                border: none;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                transition: 0.15s all;
                line-height: 28px;
                cursor: pointer;
            }

            .default {
                margin-left: 5px;
            }

            .bt:active {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
                opacity: 0.7;
            }

            .bt {
                background-color: #4E4E4E;
                opacity: 0.3;
            }

            .selected {
                opacity: 1;
            }
        }

        .section-event-details {
            margin: 0;
            margin-top: 5px;
            width: 80%;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;


            .card-event-details {
                width: 100%;
                padding: 14px;
                background-color: #ffffff;
                border-radius: 12px;
                display: flex;
                align-items: center;
                gap: 12px;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
                margin-top: 12px;
                transition: transform 0.15s ease, box-shadow 0.15s ease;
                cursor: pointer;
                position: relative;

                &:active {
                transform: scale(0.98);
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
                }

                .image {
                width: 44px;
                height: 44px;
                border-radius: 30%;
                background: #f3f3f3;
                display: flex;
                align-items: center;
                justify-content: center;

                    img {
                        width: 28px;
                    }
                    }

                    .info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;

                    .content {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;

                        h2 {
                        font-size: 15px;
                        font-weight: 600;
                        color: #4E4E4E;
                        margin: 0 0 6px 0;
                        }
                    }

                    .progress-bar {
                        width: 100%;
                        margin-top: 2px;
                    }

                    .user-total {
                        position: absolute;
                        top: -10px;
                        right: 0;
                        font-size: 12px;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.30);
                    }
                }
            }

            .card:last-child {
                margin-bottom: 20px;
            }
        }

        .register-user {
            width: 60px;
            height: 60px;
            box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
            background-color: #fff;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 15px;
            bottom: 15px;

            .plus {
                margin-left: 7px;
                opacity: 1;
                width: 37px;
            }
        }

        .register-user:active {
            transform: scale(0.98);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            background-color: rgba(0, 0, 0, 0.05);
        }

        .download-excel {
            width: 60px;
            height: 60px;
            box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
            background-color: #fff;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 15px;
            bottom: 15px;

            .excel-icon {
                margin-left: 0px;
                opacity: 1;
                width: 37px;
            }
        }

        .download-excel:active {
            transform: scale(0.98);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            background-color: rgba(0, 0, 0, 0.05);
        }

    }