.default-nav
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1000;

    .nav-logout {
        margin-top: 15px;
        width: 100%;
        text-align: right;
        margin-right: 15px;
    }

}

.nav-bt {
    right: 0;
    text-align: left;
    width: 25px;
    padding: 8px;
    border-radius: 12px;
    transition: 0.15s all;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.nav-home {
    width: 32px;
    padding: 12px;
    border-radius: 999px;
    background-color: #ffffff;
    box-shadow: 0 6px 16px rgba(41, 55, 71, 0.25);
}

.nav-bt:active {
    transform: scale(0.98);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
    background-color: rgba(0, 0, 0, 0.05);
}